html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
#sidebar {
  display: block;
  width: 300px;
  height: 100%;
  max-width: 100%;
  float: left;
}

.container-fluid {
  background-color: #f8f8f8
}

#map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#daterange {
  font: 18px Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 60px;
  right: 75px;
  color: #777;
  padding: 4px 10px 4px 10px;         
  background: white;
  background: rgba(255,255,255,0.95);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  margin: 0 0 0px;                
}
@media screen and (max-width: 1024px) {
    #daterange { 
      font-size: 14px;
    }
}        
@media screen and (max-width: 480px) {
    #daterange { 
      font-size: 11px;
    }
}
#slider {
  position: absolute;
  width: auto;
  bottom: 30px;
  right: 90px;
  left: 75px;
  z-index: 2;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
@media screen and (max-width: 600px) {
    #slider {
      left: 50px; 
    }
}
#slider-left-btn {
  position: absolute;
  left: -35px;
  bottom: -1.7px;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

#slider-right-btn {
  position: absolute;
  right: -35px;
  bottom: -1.7px;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
}


#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}
#sidebar-hide-btn {
  margin-top: -2px;
}
#aboutTabsContent {
  padding-top: 10px;
}

.progress-bar-full {
  width: 100%;
}

/*navbar icons*/
.white {
  /*color: #8ec48e;*/
  color: #a1cea1;
}
.panel-heading{
   width: 300px;
}
.panel-body{
  width: 300px;
}
.feature-row {
  cursor: pointer;
  width: 300px;
}
.maxheight {
  max-height: 100px;
  overflow-y: hidden;
}
.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.sidebar-table {
  position: absolute;
  width: 100%;
  top: 103px;
  bottom: 0px;
  overflow: auto;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
.table {
  margin-bottom: 0px;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #449d44;
}
.logos {
  margin:7.5px;
  padding-top:0px;
  line-height: 2px;
}
.logo-btn {
  margin:7.5px;
  padding-top:0px;
  line-height: 2px;
}
@media (max-width: 1577px) {
  #logos
  {
    display:none;
  }
}

@media (min-width: 1578px) {
  #logo-btn
  {
    display:none;
  }
}

/*related to hidding navbar based on screen size*/

@media (max-width: 1450px) {
    .navbar-header {
        float: none;
        background-color: #f8f8f8
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

@media (max-width: 1450px) {
    .visible-xs{
      display: block !important;
    }
}


#list.btn {
  overflow-y: hidden;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}
.typeahead {
  background-color: #FFFFFF;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.typeahead-header {
  margin: 0 5px 5px 5px;
  padding: 3px 0;
  border-bottom: 2px solid #333;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  #sidebar {
    display: none;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
      hyphens: auto;
  }
  .dropdown-menu a i{
    color: #FFFFFF;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}
